*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
   font-family: "FantasqueSansMonoRegular", "Lucida Grande", Tahoma, Sans-Serif; 
   font-weight: normal; 
   font-style: normal; 
   margin: 0;
}
h1 {
    margin: 0;
}

.accent-background-color {
    background-color: magenta;
}
.accent-color {
    color: magenta;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 10% 0;
}
.main-content-box {
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px;
    min-height: 100%;
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.logo-image-box {
    flex-basis: 35%;
}
.summary-title-box {
    padding-bottom: 10px;
}
.summary-contents-box {
    flex-basis: 50%;
}

.splash-logo {
    max-width: 100%;
}

.members-container {
    display: flex;
    justify-content: center;
}
.member-parts-box {
     text-align: right;
     padding-right: 15px;
     
    /* fallback */
    display: inline-block;
    max-width: 45%;
}
.member-names-box {
    text-align: left;
    
    /* fallback*/
    display: inline-block;
    max-width: 45%;
}


/* responsive design for smaller screens */
@media (max-width: 800px) {
    h1 {
        font-size: 1.5em;
    }
    .main-content-box {
        padding: 10px;
    }
    .main-container {
        padding: 0 5% 0;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: 1.2em;
    }
    .main-container {
        padding: 0 10px 0;
    }
}

/* caution tape - from  */