*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
   font-family: "FantasqueSansMonoRegular", "Lucida Grande", Tahoma, Sans-Serif; 
   font-weight: normal; 
   font-style: normal; 
   margin: 0;
}
body.index {
   text-align: center;
}
h1 {
    margin: 0;
    font-family: "AnaktoriaRegular", "Lucida Grande", Tahoma, Sans-Serif; 
}

.accent-background-color,
.hover-accent-background-color:hover  {
    background-color: magenta;
}
.accent-background-color.epk,
.accent-background-color.index {
    background-color: darkmagenta;
}
.accent-color {
    color: magenta;
}
.block {
    display: block;
}

.padded-normal {
    padding: 5px 20px;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 0;
    max-width: 100%; /* lol IE */
}
.main-content-box {
    color: white;
    background-color: black;
    min-height: 100%;
}
body.index .main-content.box {
    text-align: center;
}
body.gallery {
    padding: 5px 10px 5px 5px;
}

.splash-container {
    /* display: flex; */ /* IE hates this */
    display: block; 
    flex-direction: column;
    justify-content: flex-start;
}
.logo-image-box {
    padding-top: 15px;
    max-width: 600px;
}
.summary-title-box {
    padding-bottom: 10px;
}
.summary-contents-box {
}

.splash-logo {
    max-width: 100%;
}

.summary-contents-box p {
    margin-top: 0;
}
.members-container {
    display: flex;
    justify-content: center;
}
.member-parts-box {
    text-align: right;
    padding-right: 15px;

    /* fallback */
    display: inline-block;
    max-width: 45%;
}
.member-names-box {
    text-align: left;
    
    /* fallback*/
    display: inline-block;
    max-width: 45%;
}

.social-link {
    display: inline-block;
    padding: 4px 4px 1px;
    cursor: pointer;
    border-radius: 3px;
}
.social-icon {
    width: 30px;
    height: 30px;
}

.email-box {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
}
.email-box a:hover {
    color: white;
}

.releases-box {
    padding-bottom: 50px;
    text-align: center;
}

.album-cover {
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid transparent;
}
.album-text-link {
    display: block;
    width: 80%;
    max-width: 300px;
    font-size: 1.3em;
    margin-top: 8px;
    color: magenta;
    text-decoration: underline;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.album-text-link:hover,
.album-text-link:focus,
.album-text-link:active {
    color: white;
    background-color: magenta;
}

/* responsive design for smaller screens */
@media (max-width: 800px) {
    h1 {
        font-size: 1.8em;
    }
    .album-text-link {
        font-size: 1.2em;
    }
    .padded-normal {
        padding: 5px 15px;
    }
    .main-container {
        padding: 0 15px 0;
    }
}
@media (max-width: 500px) {
    .padded-normal {
        padding: 5px 10px;
    }
    .main-container {
        padding: 0 10px 0;
        max-width: 500px; /* lol IE */
    }
    .social-icon {
        width: 25px;
        height: 25x;
    }
    .album-text-link {
        background-color: darkmagenta;
        color: white;
        text-decoration: none;
    }
    /* body.gallery {
        padding: 5px 10px 5px 5px;
    } */
}

/* construction tape - from http://cssdeck.com/labs/under-construction-tape */  
.tape {
    font-size: 3em;
    height: 140px;
    background-image: -webkit-linear-gradient(0deg,#222,transparent,#222),linear-gradient(transparent 30px, #fff 30px), repeating-linear-gradient(45deg, transparent, transparent 35px, #fff 35px, #fff 70px);
    background-image: -moz-linear-gradient(90deg,#222,transparent,#222),linear-gradient(transparent 30px, #fff 30px), repeating-linear-gradient(45deg, transparent, transparent 35px, #fff 35px, #fff 70px);
    background-image: -o-linear-gradient(90deg,#222,transparent,#222),linear-gradient(transparent 30px, #fff 30px), repeating-linear-gradient(45deg, transparent, transparent 35px, #fff 35px, #fff 70px);
    background-image: linear-gradient(90deg,#222,transparent,#222),linear-gradient(transparent 30px, #fff 30px), repeating-linear-gradient(45deg, transparent, transparent 35px, #fff 35px, #fff 70px);
    background-size: auto, auto 112px, auto;
}
.tape span {
    cursor: default;
    color: #222;
    display: block;
    padding: 1em;
    white-space: nowrap;
}

@media (max-width: 800px) {
    .tape {
        font-size: 2em;
        height: 100px;
        background-size: auto, auto 72px, auto;
    }
    .tape span {
        padding: 1.05em;
    }
}

/* press kit */

body.epk {
    text-align: unset;
}
.banner-box {
    height: 100px;
    background-color: black;
    border-bottom: 3px dotted darkmagenta;
    text-align: center;
}
.banner-logo {
    height: 100%;
}

.main-epk-box {
    padding: 20px;
}

.epk-table td {
    vertical-align: top;
}

.epk .main-container {
    min-width: 320px;
}

.press-card {
    font-family: "caladea";
    font-size: 1em;
    background-color: transparent;
    padding: 5px;
}
.press-card em {
    font-weight: 600;
}

.press-card.press-card-music {
    width: 350px;
}
.bandcamp-iframe {
    border: 0;
    width: 350px;
    height: 520px;
}

.press-card.press-card-gallery {
    width: 100%;
}

.gallery-iframe {
    border: 5px solid magenta;
    width: 100%;
    height: 420px;
}

.press-card-contact-box-small {
    display: none;
}
.contact-box-small {
    padding: 0 5px 5px;
}
.contact-box-medium {
    padding-top: 5%;
}

/* responsive by min size rules */
@media (min-width: 1100px) {
    .press-card {
        font-size: 1.1em;
    }
}
@media (min-height: 1000px) {
    .banner-box {
        height: 150px;
    }
    body {
        text-color: magenta;
    }
}

/* responsive by max size rules */
@media (max-width: 800px) {
    .press-card.press-card-music {
        width: 300px;
    }
    .bandcamp-iframe {
        width: 300px;
    }
    .contact-box-medium {
        display: none;
    }
    .press-card-contact-box-small {
        display: table-cell;
        width: 100%;
    }
}
@media (max-width: 700px) {
    .press-card.press-card-music {
        width: 200px;
    }
    .bandcamp-iframe {
        width: 200px;
    }
    .epk .member-parts-box {
        line-height: 32px;
    }
}
@media (max-width: 500px) {
    .press-card.press-card-music {
        width: 100%;
    }
    .bandcamp-iframe {
        width: 100%;
    }
    .epk-table td {
        display: block;
        width: 100%;
    }
    .epk .member-parts-box,
    .epk .member-names-box {
        line-height: 24px;
    }
    .main-epk-box {
        padding: 7px;
    }
}
@media (max-height: 700px) {
    .gallery-iframe {
        border: 0;
        width: 100%;
        height: 380px;
    }
}

.video-iframe {
    width: 100%;
    height: 300px;
}
.epk-table td.press-card-members {
    vertical-align: middle;
    color: magenta;
}

iframe {
    border-radius: 3px;
}